.table {
  text-align: center;
  font-size: .85rem !important;

  @media (max-width: 992px) {
    font-size: .85rem;
  }
  @media (max-width: 768px) {
    font-size: .85rem;
  }
  @media (max-width: 400px) {
    font-size: .75rem;
  }
}

.stage {
  font-size: .85rem;
}

.stageMobile {
  font-size: .85rem;
}

// .ant-table-row:nth-child(even){
//     background-color: #F7F7F7;
//   }

table > .ant-table-thead > tr > th{
  text-align: center;
  font-size: .85rem !important;

  @media (max-width: 992px) {
    font-size: .75rem;
  }
  @media (max-width: 768px) {
    font-size: .70rem;
  }
  @media (max-width: 400px) {
    font-size: .80rem;
  }
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  word-break: normal !important;
}

.low {
  background: #EEFAE5;
}

.moderate {
  background: #FDF2DD;
}

.high {
  background: #FCE2E1;
}

.past {
  background: #B9E4F9;
}
.forecast {
  background: #FAFFDF;
}


/* use css to set position of modal */
// Use flex which not working in IE
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center-modal .ant-modal {
  top: 0;
}
