.table {

  font-size: 1rem !important;
  color: black

  @media (max-width: 992px) {
    font-size: .85rem;
  }
  @media (max-width: 768px) {
    font-size: .85rem;
  }
  @media (max-width: 400px) {
    font-size: .75rem;
  }
}

.stage {
  font-size: .85rem;
}

.stageMobile {
  font-size: .85rem;
}

// .ant-table-row:nth-child(even){
//     background-color: #F7F7F7;
//   }

table > .ant-table-thead > tr > th{
  text-align: center;
  font-size: .9rem !important;

  @media (max-width: 992px) {
    font-size: .75rem;
  }
  @media (max-width: 768px) {
    font-size: .80rem;
  }
  @media (max-width: 400px) {
    font-size: .80rem;
  }
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  word-break: normal !important;
  font-size: 1rem !important;

}

.low {
  background: #EEFAE5;
}

.moderate {
  background: #FDF2DD;
}

.high {
  background: #FCE2E1;
}

.past {
  color: black;
  background: #B9E4F9;
  height: 60px;
}

.today > * {
  background: white;
  font-size: 1.5rem !important;
  color: black;
  font-weight: bolder;
  height: 60px;
}

.forecast {
  color: black;
  background: #FAFFDF;
  height: 60px;
}

/* use css to set position of modal */
// Use flex which not working in IE
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center-modal .ant-modal {
  top: 0;
}
